<link
  href='/admin/plugins/sweet-alert2/sweetalert2.css'
  rel='stylesheet'
  type='text/css'
/>
<link rel='stylesheet' href='/admin/css/administrator.css' />
<div class='container-fluid'>
  <div class='page-title-box'>
    <div class='row align-items-center'>
      <div class='col-md-12'>
        <div class='page-title-box'>
          <h4 class='page-title'>Update user</h4>
          <ol class='breadcrumb'>
            <li class='breadcrumb-item'>
              <a href='/admin/users'>Users</a>
            </li>
            <li class='breadcrumb-item active'>
              Update user
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='card'>
        <form
          action='/api/admin/users/{{user.id}}'
          method='PUT'
          class='card-body'
          id='update-user-form'
        >
          <div class='form-group row'>
            <!-- has-success has-warning has-danger -->
            <label for='email' class='col-sm-2 col-form-label'>
              Email
            </label>
            <div class='col-sm-10'>
              <input
                type='email'
                class='form-control'
                id='email'
                placeholder='name@example.com'
                value='{{user.email}}'
                readonly
              />
              <!-- class: form-control-success form-control-warning form-control-danger -->
              <div class='form-control-feedback'></div>
            </div>
          </div>
          <div class='form-group row'>
            <label for='password' class='col-sm-2 col-form-label'>
              Password
            </label>
            <div class='col-sm-10'>
              <input
                class='form-control'
                type='password'
                name='password'
                placeholder='Password must contain at least 6 characters'
              />
              <div class='form-control-feedback'></div>
            </div>
          </div>
          <div class='form-group row'>
            <label for='password' class='col-sm-2 col-form-label'>
              Confirm password
            </label>
            <div class='col-sm-10'>
              <input
                class='form-control'
                type='password'
                placeholder='Password must contain at least 6 characters'
              />
              <div class='form-control-feedback'></div>
            </div>
          </div>
          <div class='form-group row'>
            <div class='col-sm-12 text-center'>
              <button type='submit' class='btn btn-success'>
                Update user
              </button>
              <button class='btn btn-danger' id='disable' data-id='{{user.id}}'>
                {{#if disabled}}Enable{{else}}Disable{{/if}}
                account
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src='/admin/plugins/sweet-alert2/sweetalert2.min.js'></script>
<script src='/admin/pages/sweet-alert.init.js'></script>
<script src='/admin/js/user.js' defer></script>
