<div class='container buy-ticket-container'>
  <div class='buy-ticket-area'>
    <a href=''><i class='icofont icofont-close'></i></a>
    <div class='row'>
      <div class='col-lg-12 booking-modal'>
        <h4>Showtimes of movie: <span id='movie-name'></span></h4>
        <div class='row'>
          <div class='col-lg-4'>
            <select class='form-control' id='select-location'>
              <!-- <option value="">All locations</option>
                <option value="Northern">Location 1</option> -->
            </select>
          </div>
          <div class='col-lg-4'>
            <input
              type='date'
              class='form-control date-picker'
              id='select-date'
            />
          </div>
          <div class='col-lg-4'>
            <select class='form-control' id='select-cinema'>
              <!-- <option value="">All cinemas</option>
                <option value="Northern">Cinema 1</option> -->
            </select>
          </div>
        </div>
      </div>
    </div>
    <ul class='row mt-4 cinema-list'>
      <!-- <li class="col-lg-12 cinema-item">
          <div class="cinema-item__name">
            Cinema Name
          </div>
          <ul class="cinema-item__content">
            <li>
              <form action="/booking" method="POST">
                <input type="hidden" name="showtimeId" value="showtimeId">
                <input type="submit" class="cinema-item__showtime" value="11:00-12:30">
              </form>
            </li>
            <li>
              <form action="/booking" method="POST">
                <input type="hidden" name="showtimeId" value="showtimeId">
                <input type="submit" class="cinema-item__showtime" value="11:00-12:30">
              </form>
            </li>
            <li>
              <form action="/booking" method="POST">
                <input type="hidden" name="showtimeId" value="showtimeId">
                <input type="submit" class="cinema-item__showtime" value="11:00-12:30">
              </form>
            </li>
            <li>
              <form action="/booking" method="POST">
                <input type="hidden" name="showtimeId" value="showtimeId">
                <input type="submit" class="cinema-item__showtime" value="11:00-12:30">
              </form>
            </li>
          </ul>
        </li> -->
    </ul>
  </div>
</div>
