.single-portfolio-img {
  overflow: hidden;
  position: relative;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  border: 1px solid #fff;
  border-radius: 10px;
}

.portfolio-content h2 {
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
